.app-body {
  @include themed() {
    background-color: color(n-50);
  }
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'sidebar main';
  min-height: calc(100vh - 60px - 110px)
}
