html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  width: 100%;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  @include themed(){
    background-color: color(n-100);
    color: color(n-900);
  }
  height: $footer-height;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $footer-padding-x;
  font-size: $footer-font-size;

  a {
    @include themed(){
      color: color(n-800);
    }
  }

}
.repo_link {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    text-decoration: none;
    display: contents;
    transition: color 0.3s ease-out, transform 0.3s ease-out;

    &:hover {
      color: $primary-color;
    }
  }
}