.header {
  @include themed() {
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    background: color(primary-color);
    color: color(n-800)
  }
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 5rem;
  font-weight: 700;
  padding: 0 $header-padding-x;


  a {
    @include themed() {
      transition: color 0.3s ease-out;
      color: color(n-950)
    }
    text-decoration: none;
  }

  sub {
    font-size: 1.3rem;
    font-weight: 300;
    opacity: 0.9;

    a {
      text-decoration: underline;
      opacity: 1;
    }
  }
}
