.sidebar {
  grid-area: sidebar;
  padding: 10px;

  @include themed() {
    border-right: 2px solid color(n-100);
  }

  .sb-option {
    @include themed(){
      border-top: 1px solid color(n-500);
      // border-bottom: 1px solid color(n-500);
      // background-color: color(w);
    }
    margin: 20px auto;
    padding: 10px;
    h2{
      margin: 0;
      margin-bottom: 5px;
      font-size: 1.7rem;
      text-align: center;
      @include themed() {
        color: color(n-950);
      }
    }
    .sb-btn-group {
      display: flex;
      flex-direction: column;
      gap: 5px;

      button {
        display: flex;
        padding: 10px;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: none;
        transition: color 0.3s ease-out, background-color 0.3s ease-out;
        cursor: pointer;
        @include themed() {
          color: color(n-900);
          background-color: color(n-200);
          &:hover {
            background-color: color(primary-color);
            color: color(n-950);
          }
        }
        &.active{
          @include themed() {
            background-color: color(primary-color);
            color: color(n-950);
          }
        }
      }
    }
  }
}

.toggle-options {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;

  @include themed() {
    background-color: color(n-100);
    color: color(n-900);

  }
}

.or {
  @include themed() {
    background-color: color(primary-color);
    color: color(n-900);
  }

  font-weight: 700;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

}

.option-toggle {
  cursor: pointer;
  padding: 25px;
  width: 50%;
  transition: background-color 0.3s ease-out;

  &:first-of-type {
    text-align: right;
    padding-right: 40px;
  }

  &:last-of-type {
    text-align: left;
    padding-left: 40px;
  }

  &:hover {
    @include themed() {
      background-color: color(n-200);
    }
  }

  &.active {
    pointer-events: none;

    @include themed() {
      background-color: color(n-300);
    }
  }

}