.toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  [type=checkbox] {
    display: none;

    +label {

      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 56px;
      border-radius: 16px;
      position: relative;
      cursor: pointer;
      @include themed(){
        transition: background-color 0.3s ease-out, color 0.3s ease-out;
        background-color: color(n-950);
        color: color(n-100);
      }

      &::after {
        position: absolute;
        content: '';
        height: 24px;
        width: 24px;
        border-radius: 50%;
        transition: transform 0.3s ease-out;
        transform: translateX(-50%);
        @include themed(){
          background-color: color(n-50);
        }
      }
    }
    &:checked + label {
      &::after {
        transform: translateX(50%);
      }
    }
  }

}